.choicepool-header {
  background-color: rgba(249, 234, 209, 0.9) !important;
}

.padded-top {
  margin-top: 40px !important;
}

ol {
  height: 65vh;
  overflow: hidden;
  overflow-y: auto;
}

ol,li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.float-right {
  float: right;
}

.clickable {
  cursor: pointer;
}

@media (max-width: 767px) {
  ol {
    height: auto !important;
  }
  .padded-top {
    margin-top: 20px !important;
  }
}